@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.container-full{
    padding: 22px;
}

.page-title{
    height: 502px;
    background-image: url(http://7oroof.com/demos/steakin/assets/images/page-title/10.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    
}
.fixed-nav{
    width: 97.2%;
    z-index: 1000;
}
.header-container{
    height: 100%;
    background-color:rgba(27, 26, 26, 0.75);
    padding-top: 120px ;
    background-image: linear-gradient(180deg,
     rgba(27, 26, 26, 0.75) 0%, rgba(27, 26, 26, 0) 34%, rgba(27, 26, 26, 0) 82%,
      rgba(27, 26, 26, 0) 100%);

}
.nav{
    height: 100px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.scroll{
    display: none;
}
.nav ul {
    list-style: none;
}
.nav .ul-left li{
    margin-right: 28px;
}

.nav .ul-left a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative; 

}
.active-menu{
    color: #bb9356 !important;
}
.active-menu::before{
    content: "";
    position: absolute;
    color: #bb9356;
    width: 100%;
    height: 2px;
    background-color: #bb9356;
    bottom: 37px;
}
.underline{
    display: none;
    position: absolute;
    color: #bb9356;
    height: 2px;
    width: 100%;
    background-color: #bb9356;
    bottom: 37px;
    left: 0;
    transition: transform 0.4s all;
}
.nav .ul-left a:hover {
    color: #bb9356 !important;
}
.nav .ul-left a:hover .underline{
    display: inline !important;
}
.book-btn{
    font-weight: 700;
    height: 25px;
    width: 119px;
    background-color: #bb9356;
    color: white;
    text-transform: uppercase;
    padding: 0 8px !important;
    font-size: 13px;
    border: 2px solid #bb9356;
}
.book-btn:hover{
    background-color: white;
    color: #bb9356;
    border-color:white ;
}
.right-line{
    height: 13px;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav .ul-right li a{
    font-size: 14px;
    color: white;
    position: relative;

}
.cart-shopping-count{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #bb9356;
    color: white;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 8px;

}
.dropdown-home{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}

.dropdown-item{
    color: #7f7f7f !important;
    font-size: 13px !important;
    margin:  10px 25px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    transition: padding .5s ease-in-out !important;
    border-bottom: 1px solid #1e1e1e !important;
    
}

.dropdown-item:hover{
    padding: 0 0 0 12px !important;
    
}
.dropdown-item:hover + .fa-chevron-right{
    color: #bb9356;
}
.home:hover + .dropdown-home{
    display: flex !important;
    
}
.dropdown-about{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px;
    padding: 20px 10px;
    position: absolute;
    top: 98px;
}
.about:hover + .dropdown-about{
    display: flex !important;
    
}
.dropdown-about:hover{
    display: flex;
}
.dropdown-home:hover{
    display: flex;
}
.dropdown-m{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.menu:hover + .dropdown-m{
    display: flex !important;
    
}
.dropdown-m:hover{
    display: flex;
}
.dropdown-features{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.fa-chevron-right{
    color: #7f7f7f;
    font-size: 13px;
    position: absolute;
    right: 14px;
}
.dropdown-revolution{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 10px;
    width: 200px;
    background-color: #1b1a1a;

}

.right-icon{
    position: absolute;
    left:  150px;
}
.dropdown-sliders-1{
    display: none;
    position: absolute;
    left: 163px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-sliders-2{
    display: none;
    position: absolute;
    left: 160px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.features:hover + .dropdown-features{
    display: flex !important;
}
.dropdown-features:hover{
    display: flex !important;
}
.revolution:hover .dropdown-revolution{
    display: flex !important;
}
.dropdown-revolution:hover{
    display: flex !important;
}
.sliders-1:hover  .dropdown-sliders-1{
    display: flex !important;
}
.dropdown-sliders-1:hover{
    display: flex !important;
}
.sliders-2:hover  .dropdown-sliders-2{
    display: flex !important;
}
.dropdown-sliders-2:hover{
    display: flex !important;
} 
.dropdown-headers{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 55px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-transparent{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-centered {
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;

}
.dropdown-topbar{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-fixedTop{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.headers:hover .dropdown-headers{
    display: flex !important;
}
.dropdown-headers:hover{
    display: flex !important;
}
.transparent:hover .dropdown-transparent{
    display: flex !important;
}
.dropdown-transparent:hover{
    display: flex !important;
}
.centered:hover .dropdown-centered{
    display: flex !important;
}
.dropdown-centered:hover{
    display: flex !important;
}
.topbar:hover .dropdown-topbar{
    display: flex !important;
}
.dropdown-topbar:hover{
    display: flex !important;
}
.fixedTop:hover .dropdown-fixedTop{
    display: flex !important;
}
.dropdown-fixedTop:hover{
    display: flex !important;
}
.bordered:hover .dropdown-bordered{
    display: flex !important;
}
.dropdown-bordered:hover{
    display: flex !important;
}
.dropdown-footers{
    z-index: 100;
    display: none;
     position: absolute;
     left: 186px;
     top: 99px;
     width: 200px;
     background-color: #1b1a1a;
}
.footers:hover .dropdown-footers{
    display: flex !important;
}
.dropdown-footers:hover{
    display: flex !important;
}
.dropdown-page{
    z-index: 1000;
    display: none;
    position: absolute;
    left: 186px;
    bottom: -100px;
    width: 200px;
    background-color: #1b1a1a;
}
.page:hover .dropdown-page{
    display: flex !important;
}
.dropdown-page:hover{
    display: flex !important;
}
.dropdown-widgets{
    z-index: 1000;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -40px;
    padding: 10px;
    width: 400px;
    background-color: #1b1a1a;
}
.widgets:hover .dropdown-widgets{
    display: flex !important;
}
.dropdown-widgets:hover{
    display: flex !important;
}
.dropdown-utility{
    z-index: 100;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: 0px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.utility:hover .dropdown-utility{
    display: flex !important;
}
.dropdown-utility:hover{
    display: flex !important;
}
.dropdown-pages-tempalates{
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -120px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.pages-tempalates:hover .dropdown-pages-tempalates{
    display: flex !important;
}
.dropdown-pages-tempalates:hover{
    display: flex !important;
}
.dropdown-blog{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.blog:hover .dropdown-blog{
    display: flex !important;
}
.dropdown-blog:hover{
    display: flex !important;

}
.dropdown-shop{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.shop:hover + .dropdown-shop{
    display: flex !important;
}
.dropdown-shop:hover{
    display: flex !important;

}
.dropdown-elements{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}
.col-title{
    color: #bb9356;
}
.elements:hover + .dropdown-elements{
    display: flex !important;

}
.dropdown-elements:hover{
    display: flex !important;
}
.shape-down{
    position: relative;
}
.page-title .shape-down img{
    width: 124px;
    height: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -62px ;
}

.title-subtitle p{
    margin-top: 100px;
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    margin-bottom: 0;
    line-height: 1;

}
.title-heading{
    margin-bottom: 95px;
}
.title-heading h1{
    color: #fff;
    font-size: 45px;
    font-family: 'Abril Fatface', cursive;

}
.breadcrumb li a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 14px;

}
.breadcrumb li a::after{
    padding: 0 5px;
    content: "/\00a0";
    color: #f9f9f9;
}
.breadcrumb li a:hover{
    color: #bb9356;
}
.active-link{
    color: #bb9356;
    font-size: 14px;
}

/* header end */


/* mobile menu start */

.accordion-toggle{
    display: block !important;
}

.main-accordion{
    display: none;
    height: 100% !important;
   
    
}
.box-menu{
    position: absolute;
    top: 100px;
    z-index: 100;
    width: 100%;
    height: 500px !important;
}
.accordion-item{
    border-bottom: 0 !important;
    border-top: 0 !important;
    
}
.accordion-button{
    background-color: #474747 !important;
    font-size: 16px;
    color: white !important;
    outline: none;
    border: none !important;
    box-shadow: none !important;
    font-weight: 700 !important;
    text-transform: uppercase;

}
.accordion-button:hover{
    color: #bb9356 !important;
}
.accordion-button::after{
    color:white !important ;
}
.accordion-collapse{
    background-color: #474747 !important;
}
.accordion-link a{
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.book-link{
    color: white;
    text-decoration: none;

}
.book-link:hover{
    color: #bb9356;
}
.accordion-book-btn::after{
    background-image: none !important;
}
.accordion-title{
    color: #bb9356;
    font-weight: 700;
}
.book-link-btn{
    text-decoration: none;
    background-color: #bb9356;
    height: 35px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mobile-bar-menu i{
    cursor: pointer;
    color: white;
    font-size: 25px;
    margin-right: 25px;

}
.border{
    top: -4px;
    left: -9px;
    width: 40px;
    height: 35px;
    border: 1px solid white;

    
}

/* mobile menu end */



/* menu board start */

.menuBoard{
    padding-top: 110px;
    padding-bottom: 90px;
    overflow-x: hidden;
}
.container-menu{
    width: 1170px !important;
}
.entry-meta{
    color: #616161;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 5px;
}
.entry-meta a{
    color: #bb9356;
    text-decoration: none;
}
.entry-meta a:hover{
    color: #977746;
}
.entry-title{
    margin-bottom: 20px;
}
.entry-title h4 a{
    font-size: 20px;
    line-height: 28px;
    color: #222;
    text-decoration: none;
    font-weight: 700;
}
.entry-title h4 a:hover{
    color: #977746;
}
.entry-img{
    margin-bottom: 25px;
    width: 360px;
    height: 262px;

}
.entry-bio{
    font-size: 14px;
    line-height: 23px;
    color: #a5a5a5;
}

.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    background-color: #333;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    width: 51px;
    height: 51px;
    text-align: center;
    color: white;
}
.active-page{
    background-color: #bb9356;
}
.page-number:hover{
    background-color:#bb9356;
}






/* menu board end */


/* footer start */
footer{
    padding-top: 95px;
    background-color: #222;
}
.shape-dark{
    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -62px;
}
.shape-dark img{
    width: 124px;
    height: 13px;
}
.footer-widget
{
    padding-bottom: 60px;
}
.footer-widget-content h3{
    color: white;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 15px;
}
.sosial-media a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    background-color: #1c1c1c;
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;


}
.sosial-media a:hover{
    background-color: #bb9356;
}
.footer-widget-content p{
    color: #a5a5a5;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    width: 90%;
}
form{
    width: 250px;
}
form input{
    border: none;
    outline: none;
    color: #474747;
    background-color: #1c1c1c;
    font-style: italic;
    width: 100%;
    padding: 6px 12px 6px 18px;

}
input::placeholder{
    font-size: 13px;
    opacity: 0.5;
}
button{
    border: none;
    color: #bb9356;
    background-color: #1c1c1c;
    width: 56px;
    font-size: 13px !important;
    text-align: center;
    
}
.footer-copyright{
    background-color: #1b1b1b;
    padding: 42px 0;
    position: relative;
}
.shape-dark2{
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -54px;
}
.contact-info{
    color: #a5a5a5;
    font-size: 13px;
    margin: 0 0 20px;
}

/* footer end */




@media screen and (max-width:1200px){
    .nav .ul-left li{
        margin-right: 11px;
    }
    .nav .ul-left li a, .nav .ul-right li a{
        font-size: 13px;
        font-weight: 600;
    }
    .fixed-nav{
        width: 96.7%;
    }
  
    .shape-4{
        margin-bottom: 5px;
    }
    
    .container-menu{
        width: 950px !important;
    }
    .entry-img{
        width: 293px;
        height: auto;
    }
      
    
}
@media screen and (min-width:992px){
    .box-menu{
        display: none !important;
    }
}
@media screen and (max-width:992px){
    .fixed-nav{
        width: 95.8%;
    }
    
    .heading-dec{
        width: 100%;
    }

   
   footer .sosial-media a{
    height: 36px;
    width: 36px;
   }
   


 
   .shape-4{
    margin-bottom: 20px;
   }
   .menuBoard-heading-dec{
    width: 90%;
   }
   .container-menu{
    width: 750px !important;
}

.entry-img{
    width: 345px;
    height: auto;
}
    
   
}
@media screen and (max-width:767px){
    .fixed-nav{
        width: 94.6%;
    }
   
    
    .title{
        font-size: 39px;
    }
    footer .sosial-media a{
        height: 42px;
        width: 42px;
       }

      
       .menuBoard-heading-title{
        font-size: 39px;
    }
    .manuBoard-heading-subtitle{
        font-size: 35px;
    }
   
  
    .container-menu{
        width: 100% !important;
    }

    .dish-panel{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 300px;
    }
    .dish-img{
        margin-bottom: 10px;
    }
    .dish-bio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .dish-content{
        margin-left: 0;
    }
    .dec{
        text-align: center;
    }
    .menu-board > div{
        display: flex;
        justify-content: center;
    }
      
    
    

    
}
@media screen and (max-width:576px){
    .fixed-nav{
        width: 92%;
    }
    .title-heading{
        text-align: center;
    }
   
    .title{
        text-align: center;
    }

    .menuBoard-heading-dec{
        width: 100%;
    }
    
    
    
    
}
