@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.container-full{
    padding: 8px;
}
.page-title{
    height: 502px;
    background: url(http://7oroof.com/demos/steakin/assets/images/page-title/10.jpg)	;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    
}
.header-container{
    height: 100%;
    background-color:rgba(27, 26, 26, 0.75);
    padding-top: 200px ;
    background-image: linear-gradient(180deg, 
    rgba(27, 26, 26, 0.75) 0%, rgba(27, 26, 26, 0) 34%, rgba(27, 26, 26, 0) 82%, rgba(27, 26, 26, 0) 100%);

}
.title-subtitle p{
    color: #bb9356;
    font-family: 'Ruthie', cursive !important;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 0;
}
.title-heading h1{
    color: #ffffff;
    font-size: 45px !important;
    line-height: 50px;
    font-family: 'Abril Fatface', cursive;
}
.title-heading{
    margin-bottom: 95px;
}
.breadcrumb li a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 14px;

}
.breadcrumb li a::after{
    padding: 0 5px;
    content: "/\00a0";
    color: #f9f9f9;
}
.breadcrumb li a:hover{
    color: #bb9356;
}
.active-link{
    color: #bb9356;
    font-size: 14px;
}
.shape-down{
    position: relative;
}
.shape-down img{
    width: 124px;
    height: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -62px ;
}



/* nav */

.nav{
    height: 100px;
    position: fixed;
    z-index: 100;
}
.fixed-nav{
    width: 97.7%;
}
.scroll{
    display: none;
}
.nav ul {
    list-style: none;
}
.nav .ul-left, .nav .ul-right{
    display: none !important;
}
.nav .ul-left li{
    margin-right: 12px;
}

.nav .ul-left a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative; 

}
.mobile-bar-menu i{
    cursor: pointer;
    color: white;
    font-size: 25px;

}
.border{
    top: -4px;
    left: -9px;
    width: 40px;
    height: 35px;
    border: 1px solid white;

    
}
.active-menu{
    color: #bb9356 !important;
}
.active-menu::before{
    content: "";
    position: absolute;
    color: #bb9356;
    width: 100%;
    height: 2px;
    background-color: #bb9356;
    bottom: 37px;
}
.underline{
    display: none;
    position: absolute;
    color: #bb9356;
    height: 2px;
    width: 100%;
    background-color: #bb9356;
    bottom: 37px;
    left: 0;
    transition: transform 0.4s all;
}
.nav .ul-left a:hover {
    color: #bb9356 !important;
}
.nav .ul-left a:hover .underline{
    display: inline !important;
}
.book-btn{
    font-weight: 700;
    height: 25px;
    width: 119px;
    background-color: #bb9356;
    color: white;
    text-transform: uppercase;
    padding: 0 8px !important;
    font-size: 12px;
    border: 2px solid #bb9356;
}
.book-btn:hover{
    background-color: white;
    color: #bb9356;
    border-color:white ;
}
.right-line{
    height: 13px;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav .ul-right li a{
    font-size: 14px;
    color: white;
    position: relative;

}
.cart-shopping-count{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #bb9356;
    color: white;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 8px;

}
.dropdown-home{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}

.dropdown-item{
    color: #7f7f7f !important;
    font-size: 13px !important;
    margin:  10px 25px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    transition: padding .5s ease-in-out !important;
    border-bottom: 1px dotted  solid #1e1e1e !important;
    
}

.dropdown-item:hover{
    padding: 0 0 0 12px !important;
    
}
.dropdown-item:hover + .fa-chevron-right{
    color: #bb9356;
}
.home:hover + .dropdown-home{
    display: flex !important;
    
}
.dropdown-about{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px;
    padding: 20px 10px;
    position: absolute;
    top: 98px;
}
.about:hover + .dropdown-about{
    display: flex !important;
    
}
.dropdown-about:hover{
    display: flex;
}
.dropdown-home:hover{
    display: flex;
}
.dropdown-m{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.menu:hover + .dropdown-m{
    display: flex !important;
    
}
.dropdown-m:hover{
    display: flex;
}
.dropdown-features{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.fa-chevron-right{
    color: #7f7f7f;
    font-size: 13px;
    position: absolute;
    right: 14px;
}
.dropdown-revolution{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 10px;
    width: 200px;
    background-color: #1b1a1a;

}

.right-icon{
    position: absolute;
    left:  150px;
}
.dropdown-sliders-1{
    display: none;
    position: absolute;
    left: 163px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-sliders-2{
    display: none;
    position: absolute;
    left: 160px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.features:hover + .dropdown-features{
    display: flex !important;
}
.dropdown-features:hover{
    display: flex !important;
}
.revolution:hover .dropdown-revolution{
    display: flex !important;
}
.dropdown-revolution:hover{
    display: flex !important;
}
.sliders-1:hover  .dropdown-sliders-1{
    display: flex !important;
}
.dropdown-sliders-1:hover{
    display: flex !important;
}
.sliders-2:hover  .dropdown-sliders-2{
    display: flex !important;
}
.dropdown-sliders-2:hover{
    display: flex !important;
} 
.dropdown-headers{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 55px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-transparent{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-centered {
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;

}
.dropdown-topbar{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-fixedTop{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.headers:hover .dropdown-headers{
    display: flex !important;
}
.dropdown-headers:hover{
    display: flex !important;
}
.transparent:hover .dropdown-transparent{
    display: flex !important;
}
.dropdown-transparent:hover{
    display: flex !important;
}
.centered:hover .dropdown-centered{
    display: flex !important;
}
.dropdown-centered:hover{
    display: flex !important;
}
.topbar:hover .dropdown-topbar{
    display: flex !important;
}
.dropdown-topbar:hover{
    display: flex !important;
}
.fixedTop:hover .dropdown-fixedTop{
    display: flex !important;
}
.dropdown-fixedTop:hover{
    display: flex !important;
}
.bordered:hover .dropdown-bordered{
    display: flex !important;
}
.dropdown-bordered:hover{
    display: flex !important;
}
.dropdown-footers{
    z-index: 100;
    display: none;
     position: absolute;
     left: 186px;
     top: 99px;
     width: 200px;
     background-color: #1b1a1a;
}
.footers:hover .dropdown-footers{
    display: flex !important;
}
.dropdown-footers:hover{
    display: flex !important;
}
.dropdown-page{
    z-index: 1000;
    display: none;
    position: absolute;
    left: 186px;
    bottom: -100px;
    width: 200px;
    background-color: #1b1a1a;
}
.page:hover .dropdown-page{
    display: flex !important;
}
.dropdown-page:hover{
    display: flex !important;
}
.dropdown-widgets{
    z-index: 1000;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -40px;
    padding: 10px;
    width: 400px;
    background-color: #1b1a1a;
}
.widgets:hover .dropdown-widgets{
    display: flex !important;
}
.dropdown-widgets:hover{
    display: flex !important;
}
.dropdown-utility{
    z-index: 100;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: 0px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.utility:hover .dropdown-utility{
    display: flex !important;
}
.dropdown-utility:hover{
    display: flex !important;
}
.dropdown-pages-tempalates{
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -120px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.pages-tempalates:hover .dropdown-pages-tempalates{
    display: flex !important;
}
.dropdown-pages-tempalates:hover{
    display: flex !important;
}
.dropdown-blog{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.blog:hover .dropdown-blog{
    display: flex !important;
}
.dropdown-blog:hover{
    display: flex !important;

}
.dropdown-shop{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.shop:hover + .dropdown-shop{
    display: flex !important;
}
.dropdown-shop:hover{
    display: flex !important;

}
.dropdown-elements{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}
.col-title{
    color: #bb9356;
}
.elements:hover + .dropdown-elements{
    display: flex !important;

}
.dropdown-elements:hover{
    display: flex !important;
}

/* mobile menu start */

.accordion-toggle{
    display: block !important;
}

.main-accordion{
    display: none;
    height: 100% !important;
   
    
}
.box-menu{
    position: absolute;
    top: 100px;
    z-index: 100;
    width: 100%;
    height: 500px !important;
}
.accordion-item{
    border-bottom: 0 !important;
    border-top: 0 !important;
    
}
.accordion-button{
    background-color: #474747 !important;
    font-size: 16px;
    color: white !important;
    outline: none;
    border: none !important;
    box-shadow: none !important;
    font-weight: 700 !important;
    text-transform: uppercase;

}
.accordion-button:hover{
    color: #bb9356 !important;
}
.accordion-button::after{
    color:white !important ;
}
.accordion-collapse{
    background-color: #474747 !important;
}
.accordion-link a{
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.book-link{
    color: white;
    text-decoration: none;

}
.book-link:hover{
    color: #bb9356;
}
.accordion-book-btn::after{
    background-image: none !important;
}
.accordion-title{
    color: #bb9356;
    font-weight: 700;
}
.book-link-btn{
    text-decoration: none;
    background-color: #bb9356;
    height: 35px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* mobile menu end */







/* footer start */

footer{
    padding-top: 95px;
    background-color: #222;
}
.shape-dark{
    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -62px;
}
.shape-dark img{
    width: 124px;
    height: 13px;
}
.footer-widget
{
    padding-bottom: 106px;
}
.footer-widget-content h3{
    color: white;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 15px;
}
.sosial-media a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    background-color: #1c1c1c;
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;


}
.sosial-media a:hover{
    background-color: #bb9356;
}
.footer-widget-content p{
    color: #a5a5a5;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    width: 100%;
}
form{
    width: 250px;
}
form input{
    border: none;
    outline: none;
    color: #474747;
    background-color: #1c1c1c;
    font-style: italic;
    width: 100%;
    padding: 6px 12px 6px 18px;

}
input::placeholder{
    font-size: 13px;
    opacity: 0.5;
}
button{
    border: none;
    color: #bb9356;
    background-color: #1c1c1c;
    width: 56px;
    font-size: 13px !important;
    text-align: center;
    
}
.footer-copyright{
    background-color: #1b1b1b;
    padding: 42px 0;
    position: relative;
}
.shape-dark2{
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -54px;
}
.contact-info{
    color: #a5a5a5;
    font-size: 13px;
    margin: 0 0 20px;
}
.mobile-row{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
/* footer end */


/* blog start */

.blog-section{
    padding-top: 110px;
    padding-bottom: 110px;
}
.blog-entry{
    border-bottom: 1px solid #d9d9d9;
}
.entry-meta span{
    padding: 0 3px;
    color: #616161;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
}
.entry-meta span:first-of-type{
    padding-left: 0;
}
.entry-meta span a{
    text-decoration: none;
    color: #bb9356;
}
.entry-title{
    margin-bottom: 20px;
}
.entry-title a{
    color: #222;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}
.entry-title a:hover{
    color: #bb9356;
}
.entry-img{
    margin-bottom: 25px;
}
.entry-bio{
    color: #a5a5a5;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 20px;
}

.widget-search{
    margin-bottom: 30px;
}
.form-search{
    width: 100%;
    position: relative;
}
.form-search input{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    color: #9e9e9e;
    font-size: 13px;
    line-height: 49px;
    height: 49px;
    text-transform: capitalize;
    padding-left: 15px;
    border: 1px solid rgba(34, 34, 34, 0.07);
    outline: none;
    
}
.form-search button{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 49px;
    background-color: transparent;

}
.form-search button i{
    font-size: 17px;
}
.widget-recent-post{
    margin-bottom: 50px;
}
.widget-title{
    margin-bottom: 20px;
}
.widget-title h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 10px;
}
.widget-title h5::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #222222;
}
.entry{
    margin-bottom: 24px;
    min-height: 50px;
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 10px;
}
.widget-content .entry-dec{
    margin-left: 10px;
    
}
.entry .entry-meta{
    margin-bottom: 12px;
    line-height: 1;
}
.entry img{
    width: 49px;
    height: 49px;
}
.entry .entry-meta a{
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #686868;
    text-transform: uppercase;
    letter-spacing: 0.22px;
    text-decoration: none;
}

.entry .entry-dec-title a{
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    text-decoration: none;
}
.entry .entry-dec-title a:hover{
    color: #bb9356;
}
.widget-ins{
    margin-bottom: 50px;
}
.widget-tags .widget-content a{
    display: inline-block;
    border: 1px solid #ececec;
    background-color: transparent;
    color: #a5a5a5;
    font-size: 13px;
    line-height: 1;
    margin-right: 7px;
    margin-bottom: 10px;
    text-transform: capitalize;
    padding: 9px 10px;
    text-decoration: none;
}
.widget-tags .widget-content a:hover{
    background-color: #bb9356;
    color: white;
}
.entry-share{
    padding: 30px 0;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 40px;
}
.text-left{
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-right: 16px;
}
.text-right a{
    color: #5d5d5d;
    font-size: 14px;
    margin-right: 22px;
    line-height: 1;
    text-decoration: none;
}
.text-right a:hover{
    color: #bb9356;
}
.entry-widget{
    margin-bottom: 40px;
    border-bottom: 2px solid #d9d9d9;
}
.entry-dec{
    margin-top: 20px;
}
.entry-dec p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #a5a5a5;
}
.entry-img{
    margin-bottom: 20px;
}
.entry-title h5 a{
    font-size: 16px !important;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 10px;
}
.entry-img img{
    width: 270px;
}
.comment{
    margin-left: 20px;
}
.comment h6{
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #333333;
    line-height: 27px;
}
.comment-body{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
}
.comments-list .comment-body .comment .date{
    color: #616161;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}
.comments-list .comment-body .comment p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #a5a5a5;
}
.comments-list .comment-body .comment .reply{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.26px;
    color: #bb9356;
    line-height: 1;
    margin-top: 16px;
    display: inline-block;
    text-decoration: none;
}
.comments-list .comment-body .comment .reply:hover{
    color: #222;
}
ul.comments-list ul.comment-children{
    list-style: none;
    /* margin: 20px 0 0 90px; */
    padding-top: 30px;
    padding-left: 0;
    
}
.form-control-input, textarea{
    font-size: 13px;
    font-weight: 400;
    line-height: 49px;
    border: 1px solid #eee;
    background: transparent;
    padding-left: 18px;
    margin-bottom: 30px;
    height: 49px;
    box-shadow: none;
    font-style: normal;

}
textarea{
    padding-top: 10px;
    height: 100px;
    font-size: 13px !important;
}
textarea::placeholder{
    font-size: 13px;
}
.form-control-input::placeholder{
    font-style: normal;
}
.form-control-input::focus, textarea::focus{
    box-shadow: none !important;
    border: 1px solid #bb9356 !important;
    outline: #bb9356 !important;
}
.entry-widget button{
    height: 51px;
    font-size: 16px !important;
    color: white;
    font-weight: 700;
}
.entry-widget button:hover{
    background-color: #bb9356;
}
/* blog end */





@media  screen and (min-width:768px) {
    .fixed-nav{
        width: 98.3%;
    }
    .book-link-btn{
        width: 30%;
    }
    
    .mobile-row{
        gap: 0;
        justify-content: center;
        align-items: start;
        flex-direction: row !important;

    }
    .footer-widget{
        padding-bottom: 60px;
    }
    footer .sosial-media a{
        height: 36px;
        width: 36px;
       }

    .title{
        font-size: 50px;
    }
    .subtitle{
        font-size: 45px;
    }
    .container-blog{
        width: 750px !important;
    }
    .entry-img img{
        width: 219px;
    }
    .entry-dec{
        margin-top: 0px;
        margin-left: 20px;
    }
    ul.comments-list ul.comment-children{
       
        margin: 20px 0 0 90px;
       
        
    }
}


@media screen and (min-width:992px) {
    .nav .ul-left, .nav .ul-right{
        display: flex !important;
    }
    .mobile-bar-menu{
        display: none;
    }
    .fixed-nav{
        width: 98.6%;
    }
    .contact input{
        width: 212px;
    }
    footer .sosial-media a{
        height: 42px;
        width: 42px;
       }

    .container-full{
        padding: 20px;
    }
    .container-blog{
        width: 970px !important;
    }
   
 
    .box-menu{
            display: none !important;
        }
    

    
    
    
}
@media screen and (min-width:1200px){
    .nav .ul-left li a{
        font-size: 14px;
        font-weight: 700;
    }
    .nav .ul-left li{
        margin-right: 24px;
    }
    .nav .ul-right li{
        margin-right: 32px;
    }
    .fixed-nav{
        width: 99%;
    }

   .contact input{
        width: 260px;
    }
    .entry-title a{
        font-size: 20px;
    }
    .container-blog{
        width: 1170px !important;
    }

    .entry-img img{
        width: 262px;
    }
   
    
   
    

}

