@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.container-full{
    padding: 8px;
}
.page-title{
    height: 502px;
    background: url(http://7oroof.com/demos/steakin/assets/images/page-title/16.jpg)	;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;

    
}
.header-container{
    height: 100%;
    background-color:rgba(27, 26, 26, 0.75);
    padding-top: 200px ;
    background-image: linear-gradient(180deg, 
    rgba(27, 26, 26, 0.75) 0%, rgba(27, 26, 26, 0) 34%, rgba(27, 26, 26, 0) 82%, rgba(27, 26, 26, 0) 100%);

}
.title-subtitle p{
    color: #bb9356;
    font-family: 'Ruthie', cursive !important;
    font-size: 45px;
    line-height: 1;
}
.title-heading h1{
    color: #ffffff;
    font-size: 45px !important;
    line-height: 50px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
.title-heading{
    margin-bottom: 95px;
}
.breadcrumb li a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 14px;

}
.breadcrumb li a::after{
    padding: 0 5px;
    content: "/\00a0";
    color: #f9f9f9;
}
.breadcrumb li a:hover{
    color: #bb9356;
}
.active-link{
    color: #bb9356;
    font-size: 14px;
}
.shape-down{
    position: relative;
}
.shape-down img{
    width: 124px;
    height: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -62px ;
}



/* nav */

.nav{
    height: 100px;
    position: fixed;
    z-index: 100;
}
.fixed-nav{
    width: 97.7%;
}
.scroll{
    display: none;
}
.nav ul {
    list-style: none;
}
.nav .ul-left, .nav .ul-right{
    display: none !important;
}
.nav .ul-left li{
    margin-right: 12px;
}

.nav .ul-left a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative; 

}
.mobile-bar-menu i{
    cursor: pointer;
    color: white;
    font-size: 25px;

}
.border{
    top: -4px;
    left: -9px;
    width: 40px;
    height: 35px;
    border: 1px solid white;

    
}
.active-menu{
    color: #bb9356 !important;
}
.active-menu::before{
    content: "";
    position: absolute;
    color: #bb9356;
    width: 100%;
    height: 2px;
    background-color: #bb9356;
    bottom: 37px;
}
.underline{
    display: none;
    position: absolute;
    color: #bb9356;
    height: 2px;
    width: 100%;
    background-color: #bb9356;
    bottom: 37px;
    left: 0;
    transition: transform 0.4s all;
}
.nav .ul-left a:hover {
    color: #bb9356 !important;
}
.nav .ul-left a:hover .underline{
    display: inline !important;
}
.book-btn{
    font-weight: 700;
    height: 25px;
    width: 119px;
    background-color: #bb9356;
    color: white;
    text-transform: uppercase;
    padding: 0 8px !important;
    font-size: 12px;
    border: 2px solid #bb9356;
}
.book-btn:hover{
    background-color: white;
    color: #bb9356;
    border-color:white ;
}
.right-line{
    height: 13px;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav .ul-right li a{
    font-size: 14px;
    color: white;
    position: relative;

}
.cart-shopping-count{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #bb9356;
    color: white;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 8px;

}
.dropdown-home{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}

.dropdown-item{
    color: #7f7f7f !important;
    font-size: 13px !important;
    margin:  10px 25px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    transition: padding .5s ease-in-out !important;
    border-bottom: 1px dotted  solid #1e1e1e !important;
    
}

.dropdown-item:hover{
    padding: 0 0 0 12px !important;
    
}
.dropdown-item:hover + .fa-chevron-right{
    color: #bb9356;
}
.home:hover + .dropdown-home{
    display: flex !important;
    
}
.dropdown-about{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px;
    padding: 20px 10px;
    position: absolute;
    top: 98px;
}
.about:hover + .dropdown-about{
    display: flex !important;
    
}
.dropdown-about:hover{
    display: flex;
}
.dropdown-home:hover{
    display: flex;
}
.dropdown-m{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.menu:hover + .dropdown-m{
    display: flex !important;
    
}
.dropdown-m:hover{
    display: flex;
}
.dropdown-features{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.fa-chevron-right{
    color: #7f7f7f;
    font-size: 13px;
    position: absolute;
    right: 14px;
}
.dropdown-revolution{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 10px;
    width: 200px;
    background-color: #1b1a1a;

}

.right-icon{
    position: absolute;
    left:  150px;
}
.dropdown-sliders-1{
    display: none;
    position: absolute;
    left: 163px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-sliders-2{
    display: none;
    position: absolute;
    left: 160px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.features:hover + .dropdown-features{
    display: flex !important;
}
.dropdown-features:hover{
    display: flex !important;
}
.revolution:hover .dropdown-revolution{
    display: flex !important;
}
.dropdown-revolution:hover{
    display: flex !important;
}
.sliders-1:hover  .dropdown-sliders-1{
    display: flex !important;
}
.dropdown-sliders-1:hover{
    display: flex !important;
}
.sliders-2:hover  .dropdown-sliders-2{
    display: flex !important;
}
.dropdown-sliders-2:hover{
    display: flex !important;
} 
.dropdown-headers{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 55px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-transparent{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-centered {
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;

}
.dropdown-topbar{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-fixedTop{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.headers:hover .dropdown-headers{
    display: flex !important;
}
.dropdown-headers:hover{
    display: flex !important;
}
.transparent:hover .dropdown-transparent{
    display: flex !important;
}
.dropdown-transparent:hover{
    display: flex !important;
}
.centered:hover .dropdown-centered{
    display: flex !important;
}
.dropdown-centered:hover{
    display: flex !important;
}
.topbar:hover .dropdown-topbar{
    display: flex !important;
}
.dropdown-topbar:hover{
    display: flex !important;
}
.fixedTop:hover .dropdown-fixedTop{
    display: flex !important;
}
.dropdown-fixedTop:hover{
    display: flex !important;
}
.bordered:hover .dropdown-bordered{
    display: flex !important;
}
.dropdown-bordered:hover{
    display: flex !important;
}
.dropdown-footers{
    z-index: 100;
    display: none;
     position: absolute;
     left: 186px;
     top: 99px;
     width: 200px;
     background-color: #1b1a1a;
}
.footers:hover .dropdown-footers{
    display: flex !important;
}
.dropdown-footers:hover{
    display: flex !important;
}
.dropdown-page{
    z-index: 1000;
    display: none;
    position: absolute;
    left: 186px;
    bottom: -100px;
    width: 200px;
    background-color: #1b1a1a;
}
.page:hover .dropdown-page{
    display: flex !important;
}
.dropdown-page:hover{
    display: flex !important;
}
.dropdown-widgets{
    z-index: 1000;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -40px;
    padding: 10px;
    width: 400px;
    background-color: #1b1a1a;
}
.widgets:hover .dropdown-widgets{
    display: flex !important;
}
.dropdown-widgets:hover{
    display: flex !important;
}
.dropdown-utility{
    z-index: 100;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: 0px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.utility:hover .dropdown-utility{
    display: flex !important;
}
.dropdown-utility:hover{
    display: flex !important;
}
.dropdown-pages-tempalates{
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -120px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.pages-tempalates:hover .dropdown-pages-tempalates{
    display: flex !important;
}
.dropdown-pages-tempalates:hover{
    display: flex !important;
}
.dropdown-blog{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.blog:hover .dropdown-blog{
    display: flex !important;
}
.dropdown-blog:hover{
    display: flex !important;

}
.dropdown-shop{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.shop:hover + .dropdown-shop{
    display: flex !important;
}
.dropdown-shop:hover{
    display: flex !important;

}
.dropdown-elements{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}
.col-title{
    color: #bb9356;
}
.elements:hover + .dropdown-elements{
    display: flex !important;

}
.dropdown-elements:hover{
    display: flex !important;
}

/* mobile menu start */

.accordion-toggle{
    display: block !important;
}

.main-accordion{
    display: none;
    height: 100% !important;
   
    
}
.box-menu{
    position: absolute;
    top: 100px;
    z-index: 100;
    width: 100%;
    height: 500px !important;
}
.accordion-item{
    border-bottom: 0 !important;
    border-top: 0 !important;
    
}
.accordion-button{
    background-color: #474747 !important;
    font-size: 16px;
    color: white !important;
    outline: none;
    border: none !important;
    box-shadow: none !important;
    font-weight: 700 !important;
    text-transform: uppercase;

}
.accordion-button:hover{
    color: #bb9356 !important;
}
.accordion-button::after{
    color:white !important ;
}
.accordion-collapse{
    background-color: #474747 !important;
}
.accordion-link a{
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.book-link{
    color: white;
    text-decoration: none;

}
.book-link:hover{
    color: #bb9356;
}
.accordion-book-btn::after{
    background-image: none !important;
}
.accordion-title{
    color: #bb9356;
    font-weight: 700;
}
.book-link-btn{
    text-decoration: none;
    background-color: #bb9356;
    height: 35px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* mobile menu end */

/* gallery start */


.gallery{
    padding-top: 110px;
    padding-bottom: 60px;
    overflow: hidden;
}
.subtitle{
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: capitalize;
    text-align: center;
}
.title{
    font-family: 'Abril Fatface', cursive;
    color: #222222;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 25px;
    text-align: center;
}
.shape-4{
    margin-bottom: 25px;
}
.shape-4 img{
    height: 16px;
}
.dec{
    color: #a5a5a5;
    font-size: 14px;
    line-height: 24px;
    padding: 0 40px;
    text-align: center;
}
.nav-tab ul li{
    margin: 0 11px;
}
.nav-tabs-item{
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 0 7px 0;
    position: relative;
}
.active-tabs-item{
    color: #bb9356;
}
.active-tabs-item::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #bb9356;
    position: absolute;
    top: 30px;
    left: 0;
}
.nav-tabs-item-underline{
    display: none;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #bb9356;
    position: absolute;
    top: 30px;
    left: 0;
}
.nav-tabs-item:hover{
    color: #bb9356;
}
.nav-tabs-item:hover  .nav-tabs-item-underline{
    display: flex;
}
.tabs-content{
    margin-top: 37px;
}
.dish-panel{
    margin-bottom: 45px;
    width: 370px;
}
.dish-img{
    margin-bottom: 20px;
    width: 100%;
}
.dish-img img{
    width: 100%;
}
.dish-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    color: #333333;
}
.dish-price{
    font-size: 15px;
    font-weight: 600;
    line-height: 29px;
    color: #bb9356;
}
.dish-dec{
    font-size: 13px;;
    line-height: 23px;
    color: #a5a5a5;

}
.dish-overlay{
    display: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.65);
    justify-content: center;
    align-items: center;
    animation-name: animation;
    animation-duration: 1s;
}
.fa-magnifying-glass-plus{
    color: white;
    font-size: 25px;
}
.dish-img:hover  .dish-overlay{
    display: flex !important;
    
}

@keyframes animation {
    0%{
        transform: scale(0.4);
    }
    100% {
        transform: scale(1);
    }
}

.modal-content{
    width: 600px !important;
    height: 570px !important;
}
.popup-img{
    width: 100%;
    height: 400px;
}
.popup-img img{
    width: 100%;
    height: 100%;
}
.img-popup-overlay{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 50px;
    text-align: center;
    background: linear-gradient( rgba(82, 53, 53, 0), #000);
}
.popup-price{
    font-size: 25px;
    line-height: 1;
    color: #bb9356;
    margin-bottom: 18px;
}
.popup-title{
    font-size: 34px;
    line-height: 1;
    color: #ffffff;

}
.content-popup{
    padding: 50px 60px;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #222222;
}

/* gallery end */








/* footer start */

footer{
    padding-top: 95px;
    background-color: #222;
}
.shape-dark{
    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -62px;
}
.shape-dark img{
    width: 124px;
    height: 13px;
}
.footer-widget
{
    padding-bottom: 106px;
}
.footer-widget-content h3{
    color: white;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 15px;
}
.sosial-media a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    background-color: #1c1c1c;
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;


}
.sosial-media a:hover{
    background-color: #bb9356;
}
.footer-widget-content p{
    color: #a5a5a5;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    width: 100%;
}
form{
    width: 250px;
}
form input{
    border: none;
    outline: none;
    color: #474747;
    background-color: #1c1c1c;
    font-style: italic;
    width: 100%;
    padding: 6px 12px 6px 18px;

}
input::placeholder{
    font-size: 13px;
    opacity: 0.5;
}
button{
    border: none;
    color: #bb9356;
    background-color: #1c1c1c;
    width: 56px;
    font-size: 13px !important;
    text-align: center;
    
}
.footer-copyright{
    background-color: #1b1b1b;
    padding: 42px 0;
    position: relative;
}
.shape-dark2{
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -54px;
}
.contact-info{
    color: #a5a5a5;
    font-size: 13px;
    margin: 0 0 20px;
}
.mobile-row{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}


/* footer end */


@media  screen and (min-width:768px) {
    .fixed-nav{
        width: 98.3%;
    }
    .book-link-btn{
        width: 30%;
    }
    
    .mobile-row{
        gap: 0;
        justify-content: center;
        align-items: start;
        flex-direction: row !important;

    }
    .footer-widget{
        padding-bottom: 60px;
    }
    footer .sosial-media a{
        height: 36px;
        width: 36px;
       }
       .dish-panel{
       
        width: 345px;
    }
    .container-menu{
        width: 750px !important;
    }
}


@media screen and (min-width:992px) {
    .nav .ul-left, .nav .ul-right{
        display: flex !important;
    }
    .mobile-bar-menu{
        display: none;
    }
    .fixed-nav{
        width: 98.6%;
    }
    .contact input{
        width: 212px;
    }
    footer .sosial-media a{
        height: 42px;
        width: 42px;
       }

    .container-full{
        padding: 20px;
    }
    .dec{
        width: 70%;
    }
    .container-menu{
        width: 970px !important;
    }
    .dish-panel{
        width: 290px;
    }


    .box-menu{
            display: none !important;
        }
    
    
    
    
}
@media screen and (min-width:1200px){
    .nav .ul-left li a{
        font-size: 14px;
        font-weight: 700;
    }
    .nav .ul-left li{
        margin-right: 24px;
    }
    .nav .ul-right li{
        margin-right: 32px;
    }
    .fixed-nav{
        width: 99%;
    }


    .dec{
        width: 60%;
    }
    .container-menu{
        width: 1170px !important;
    }
    .dish-panel{
        width: 360px;
    }
    
   
    
   
    

}

