
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.container-full{
    padding: 22px;
}

.page-title{
    height: 502px;
    background: url(http://7oroof.com/demos/steakin/assets/images/page-title/2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    
}
.fixed-nav{
    width: 97.2%;
    z-index: 1000;
}
.header-container{
    height: 100%;
    background-color:rgba(27, 26, 26, 0.75);
    padding-top: 120px ;

}
.nav{
    height: 100px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.scroll{
    display: none;
}
.nav ul {
    list-style: none;
}
.nav .ul-left li{
    margin-right: 28px;
}

.nav .ul-left a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative; 

}
.active-menu{
    color: #bb9356 !important;
}
.active-menu::before{
    content: "";
    position: absolute;
    color: #bb9356;
    width: 100%;
    height: 2px;
    background-color: #bb9356;
    bottom: 37px;
}
.underline{
    display: none;
    position: absolute;
    color: #bb9356;
    height: 2px;
    width: 100%;
    background-color: #bb9356;
    bottom: 37px;
    left: 0;
    transition: transform 0.4s all;
}
.nav .ul-left a:hover {
    color: #bb9356 !important;
}
.nav .ul-left a:hover .underline{
    display: inline !important;
}
.book-btn{
    font-weight: 700;
    height: 25px;
    width: 119px;
    background-color: #bb9356;
    color: white;
    text-transform: uppercase;
    padding: 0 8px !important;
    font-size: 13px;
    border: 2px solid #bb9356;
}
.book-btn:hover{
    background-color: white;
    color: #bb9356;
    border-color:white ;
}
.right-line{
    height: 13px;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav .ul-right li a{
    font-size: 14px;
    color: white;
    position: relative;

}
.cart-shopping-count{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #bb9356;
    color: white;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 8px;

}
.dropdown-home{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}

.dropdown-item{
    color: #7f7f7f !important;
    font-size: 13px !important;
    margin:  10px 25px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
    transition: padding .5s ease-in-out !important;
    border-bottom: 1px solid #1e1e1e !important;
    
}

.dropdown-item:hover{
    padding: 0 0 0 12px !important;
    
}
.dropdown-item:hover + .fa-chevron-right{
    color: #bb9356;
}
.home:hover + .dropdown-home{
    display: flex !important;
    
}
.dropdown-about{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px;
    padding: 20px 10px;
    position: absolute;
    top: 98px;
}
.about:hover + .dropdown-about{
    display: flex !important;
    
}
.dropdown-about:hover{
    display: flex;
}
.dropdown-home:hover{
    display: flex;
}
.dropdown-m{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.menu:hover + .dropdown-m{
    display: flex !important;
    
}
.dropdown-m:hover{
    display: flex;
}
.dropdown-features{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.fa-chevron-right{
    color: #7f7f7f;
    font-size: 13px;
    position: absolute;
    right: 14px;
}
.dropdown-revolution{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 10px;
    width: 200px;
    background-color: #1b1a1a;

}

.right-icon{
    position: absolute;
    left:  150px;
}
.dropdown-sliders-1{
    display: none;
    position: absolute;
    left: 163px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-sliders-2{
    display: none;
    position: absolute;
    left: 160px;
    top: 0;
    width: 200px;
    background-color: #1b1a1a;
}
.features:hover + .dropdown-features{
    display: flex !important;
}
.dropdown-features:hover{
    display: flex !important;
}
.revolution:hover .dropdown-revolution{
    display: flex !important;
}
.dropdown-revolution:hover{
    display: flex !important;
}
.sliders-1:hover  .dropdown-sliders-1{
    display: flex !important;
}
.dropdown-sliders-1:hover{
    display: flex !important;
}
.sliders-2:hover  .dropdown-sliders-2{
    display: flex !important;
}
.dropdown-sliders-2:hover{
    display: flex !important;
} 
.dropdown-headers{
    z-index: 100;
    display: none;
    position: absolute;
    right: -189px;
    padding: 11px;
    top: 55px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-transparent{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-centered {
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;

}
.dropdown-topbar{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.dropdown-fixedTop{
    z-index: 100;
     display: none;
     position: absolute;
     left: 163px;
     top: 9px;
     width: 200px;
     background-color: #1b1a1a;
}
.dropdown-bordered{
    z-index: 100;
    display: none;
    position: absolute;
    left: 163px;
    top: 9px;
    width: 200px;
    background-color: #1b1a1a;
}
.headers:hover .dropdown-headers{
    display: flex !important;
}
.dropdown-headers:hover{
    display: flex !important;
}
.transparent:hover .dropdown-transparent{
    display: flex !important;
}
.dropdown-transparent:hover{
    display: flex !important;
}
.centered:hover .dropdown-centered{
    display: flex !important;
}
.dropdown-centered:hover{
    display: flex !important;
}
.topbar:hover .dropdown-topbar{
    display: flex !important;
}
.dropdown-topbar:hover{
    display: flex !important;
}
.fixedTop:hover .dropdown-fixedTop{
    display: flex !important;
}
.dropdown-fixedTop:hover{
    display: flex !important;
}
.bordered:hover .dropdown-bordered{
    display: flex !important;
}
.dropdown-bordered:hover{
    display: flex !important;
}
.dropdown-footers{
    z-index: 100;
    display: none;
     position: absolute;
     left: 186px;
     top: 99px;
     width: 200px;
     background-color: #1b1a1a;
}
.footers:hover .dropdown-footers{
    display: flex !important;
}
.dropdown-footers:hover{
    display: flex !important;
}
.dropdown-page{
    z-index: 1000;
    display: none;
    position: absolute;
    left: 186px;
    bottom: -100px;
    width: 200px;
    background-color: #1b1a1a;
}
.page:hover .dropdown-page{
    display: flex !important;
}
.dropdown-page:hover{
    display: flex !important;
}
.dropdown-widgets{
    z-index: 1000;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -40px;
    padding: 10px;
    width: 400px;
    background-color: #1b1a1a;
}
.widgets:hover .dropdown-widgets{
    display: flex !important;
}
.dropdown-widgets:hover{
    display: flex !important;
}
.dropdown-utility{
    z-index: 100;
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: 0px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.utility:hover .dropdown-utility{
    display: flex !important;
}
.dropdown-utility:hover{
    display: flex !important;
}
.dropdown-pages-tempalates{
    display: none !important;
    position: absolute;
    left: 186px;
    bottom: -120px;
    padding: 10px;
    width: 200px;
    background-color: #1b1a1a;
}
.pages-tempalates:hover .dropdown-pages-tempalates{
    display: flex !important;
}
.dropdown-pages-tempalates:hover{
    display: flex !important;
}
.dropdown-blog{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.blog:hover .dropdown-blog{
    display: flex !important;
}
.dropdown-blog:hover{
    display: flex !important;

}
.dropdown-shop{
    z-index: 100;
    display: none;
    background-color: #1b1a1a;
    width: 200px ;
    padding: 20px 10px ;
    position: absolute ;
    top: 98px;
}
.shop:hover + .dropdown-shop{
    display: flex !important;
}
.dropdown-shop:hover{
    display: flex !important;

}
.dropdown-elements{
    z-index: 100;
    display: none;
    position: absolute;
    top: 98px;
    left: 0;  
    padding: 20px 10px;
    width: 98%;
    background-color: #1b1a1a;
}
.col-title{
    color: #bb9356;
}
.elements:hover + .dropdown-elements{
    display: flex !important;

}
.dropdown-elements:hover{
    display: flex !important;
}
.shape-down{
    position: relative;
}
.page-title .shape-down img{
    width: 124px;
    height: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -62px ;
}

.title-subtitle p{
    margin-top: 100px;
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    margin-bottom: 0;
    line-height: 1;

}
.title-heading{
    margin-bottom: 95px;
}
.title-heading h1{
    color: #fff;
    font-size: 45px;
    font-family: 'Abril Fatface', cursive;

}
.breadcrumb li a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 14px;

}
.breadcrumb li a::after{
    padding: 0 5px;
    content: "/\00a0";
    color: #f9f9f9;
}
.breadcrumb li a:hover{
    color: #bb9356;
}
.active-link{
    color: #bb9356;
    font-size: 14px;
}

/* header end */


/* mobile menu start */

.accordion-toggle{
    display: block !important;
}

.main-accordion{
    display: none;
    height: 100% !important;
   
    
}
.box-menu{
    position: absolute;
    top: 100px;
    z-index: 100;
    width: 100%;
    height: 500px !important;
}
.accordion-item{
    border-bottom: 0 !important;
    border-top: 0 !important;
    
}
.accordion-button{
    background-color: #474747 !important;
    font-size: 16px;
    color: white !important;
    outline: none;
    border: none !important;
    box-shadow: none !important;
    font-weight: 700 !important;
    text-transform: uppercase;

}
.accordion-button:hover{
    color: #bb9356 !important;
}
.accordion-button::after{
    color:white !important ;
}
.accordion-collapse{
    background-color: #474747 !important;
}
.accordion-link a{
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.book-link{
    color: white;
    text-decoration: none;

}
.book-link:hover{
    color: #bb9356;
}
.accordion-book-btn::after{
    background-image: none !important;
}
.accordion-title{
    color: #bb9356;
    font-weight: 700;
}
.book-link-btn{
    text-decoration: none;
    background-color: #bb9356;
    height: 35px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mobile-bar-menu i{
    cursor: pointer;
    color: white;
    font-size: 25px;
    margin-right: 25px;

}
.border{
    top: -4px;
    left: -9px;
    width: 40px;
    height: 35px;
    border: 1px solid white;

    
}

/* mobile menu end */



/* banner start */

.banner{
    padding-top: 110px;
    padding-bottom: 110px;
}
.heading-subtitle{
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.heading-title{
    font-family: 'Abril Fatface', cursive;
    color: #222222;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 25px;
}


/* banner end */


/* aphorism start */

.aphorism{
    height: 503px;
    background-image: url(	http://7oroof.com/demos/steakin/assets/images/background/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-section{
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.75);
    padding: 110px 0 90px;
}


.shape-down{
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -62px;
}
.shape-up{
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -62px;
}

.owl-dots .owl-dot{
    width: 17px;
     
 }
 .owl-theme .owl-dots{
     margin-top: 25px !important;
 }
 .owl-carousel .owl-item img {
    width: 54px !important;
    height: 54px;
 }
 .testimonial-rating{
    margin-bottom: 20px;
 }
 .testimonial-rating i{
    color: #ffc80a;
    font-size: 16px;
    letter-spacing: 4px;
 }
 .testimonial-body{
    font-size: 47px;
    font-family: 'Ruthie', cursive;
    line-height: 50px;
    color: white;
    margin-bottom: 23px;
    width: 75%;
 }
 .testimonial-img{
    margin-bottom: 22px;
 }
 .testimonial-author{
    font-size: 13px;
    line-height: 1.3;
    color: #f9f9f9;
    font-style: italic;
    margin-bottom: 0;
 }

/* aphorism end */

/* collaboration start */

.collaboration{
    padding-top: 110px;
    padding-bottom: 110px;
}
.collaboration-heading{
    font-size: 47px;
    font-family: 'Ruthie', cursive;
    color: #333333;
    line-height: 40px;
    margin-bottom: 39px;
    text-align: center;
    width: 70%;
}
.logo img{
    padding: 0 15px;
}


/* collaboration end */












/* blog start */

.blog-section{
    padding-bottom: 100px;
    padding-top: 110px;
}
.entry-meta{
    color: #616161;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
    line-height: 1;
}
.entry-meta a{
    text-decoration: none;
    color: #bb9356;
    
}
.entry-title{
    margin-bottom: 20px;
}
.entry-title a{
    text-decoration: none;
    font-size: 20px;
    color: #222;
    line-height: 28px;
    font-weight:700;
}
.entry-title a:hover{
    color: #c69c6d;
}
.entry-img{
    margin-bottom: 25px;
}
.entry-bio{
    font-size: 14px;
    line-height: 23px;
    color: #a5a5a5;
}
.subtitle{
    color: #bb9356;
    font-family: 'Ruthie', cursive;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.title{
    font-family: 'Abril Fatface', cursive;
    color: #222222;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
}
.shape-4{
    height: 16px;
    margin-bottom: 25px;
}
.heading-dec{
    color: #a5a5a5;
    font-size: 14px;
    line-height: 24px;
    padding: 0 60px;
}
.banner-book-btn{
    color: #222222;
    border: 2px solid #222222;
    border-radius: 50px;
    width: 170px;
    height: 51px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    margin: 30px 0;
}
.banner-book-btn:hover{
    background-color: #222;
    color: white;
}
.banner-img{
    width: 100%;
    height: auto;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.mt-20{
    margin-top: 20px;
}
.frame{
    position: absolute;
    top: 10px;
    left: 9px;
    width: 94%;
    height: 90%;
    border: 1px dashed #bb9356;
    opacity: 0.6;
}

/* blog end */

/* footer start */
footer{
    padding-top: 95px;
    background-color: #222;
}
.shape-dark{
    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -62px;
}
.shape-dark img{
    width: 124px;
    height: 13px;
}
.footer-widget
{
    padding-bottom: 50px;
}
.footer-widget-content h3{
    color: white;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 15px;
}
.sosial-media a{
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    background-color: #1c1c1c;
    color: white;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;


}
.sosial-media a:hover{
    background-color: #bb9356;
}
.footer-widget-content p{
    color: #a5a5a5;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    width: 90%;
}
form{
    width: 250px;
}
form input{
    border: none;
    outline: none;
    color: #474747;
    background-color: #1c1c1c;
    font-style: italic;
    width: 100%;
    padding: 6px 12px 6px 18px;

}
input::placeholder{
    font-size: 13px;
    opacity: 0.5;
}
button{
    border: none;
    color: #bb9356;
    background-color: #1c1c1c;
    width: 56px;
    font-size: 13px !important;
    text-align: center;
    
}
.footer-copyright{
    background-color: #1b1b1b;
    padding: 42px 0;
    position: relative;
}
.shape-dark2{
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -54px;
}
.contact-info{
    color: #a5a5a5;
    font-size: 13px;
    margin: 0 0 20px;
}



@media screen and (max-width:1200px){
    .nav .ul-left li{
        margin-right: 11px;
    }
    .nav .ul-left li a, .nav .ul-right li a{
        font-size: 13px;
        font-weight: 600;
    }
    .fixed-nav{
        width: 96.7%;
    }
    .collaboration-heading{
        width: 92%;
    }
    
    .dishes-wrapper{
        height: 710px;
        width: 780px !important;
    }
    .dishes-bordered{
        padding: 70px 20px 20px;
    }
    .dish-content-bio{
        flex-direction: column;
    }
    .special-section-heading-title{
        font-size: 40px;
    }
    .shape-4{
        margin-bottom: 5px;
    }
    .menu-dish-content{
        padding: 46px 5px;
    }
    .dish-name{
        margin-bottom: 5px;
        font-size: 18px;
        text-align: center;
    }
    .testimonial-panel{
        height: 370px;
        width: 293px;
    }
    .lg-carousel{
        display: block !important;
    }
    .heading-title{
        font-size: 40px;
    }
    .heading-dec{
        padding: 0 30px;
    }
    .aphorism{
        height: 584px;
    }

    
}

@media screen and (min-width:992px){
.box-menu{
    display: none !important;
}
}

@media screen and (max-width:992px){
    .fixed-nav{
        width: 95.8%;
    }
    

    .heading-dec{
        width: 100%;
    }

    .aphorism-body p {
        width: 90%;
    }
    .collaboration-heading{
        width: 100%;
    }

    .slide-headline{
        margin: 0;
        font-size: 35px;
        line-height: 70px;
    }
    .slide-title{
        font-size: 30px;
        margin: 0;
        line-height: 0px;
    }
    .main-container{
       padding-top: 100px;
    }
    .slide-bio{
        width: 60%;
    }
      
    .special{
        height: 1075px;
    }
    .dishes-wrapper{
        height: 900px;
        width: 700px !important;
    }
    .special-section-heading-title{
        font-size: 50px;
    }
    .dish-content-bio{
        flex-direction: row;
    }
    .dishes-bordered{
        padding: 30px 70px 20px 70px;
    }
    .menuBoard-heading-dec{
        width: 100%;
    }
    .menu-dish-content{
        height: 90%;
        padding: 60px 30px;
    }
    .dish-name{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .shape-4{
        margin-bottom: 25px;
    }
    .menu-dish-dec{
        font-size: 13px;
    }
    .lg-carousel{
        display: none!important;
    }
    .mobile-carousel{
        display: flex !important ;
    }
    .mobile-btn{
        display: flex;
    }
    footer .sosial-media a{
        height: 36px;
        width: 36px;
       }

     .banner-img{
        max-width: 270px;
     }
     .testimonial-body{
        width: 100%;
     }
}
@media screen and (max-width:768px){
    .fixed-nav{
        width: 94.6%;
    }
    .aphorism-body p {
       /* font-size: 30px; */
       width: 100%;
    }
    .collaboration-heading {
        font-size: 36px;
    }
    .entry-title a{
        font-size: 18px;
    }

    .slide-bio{
        font-size: 13px;
        margin: 0;
        width: 100%;
    }
    /* .carousel-control-next, .carousel-control-prev{
        display: none !important;
    } */
    
    .special{
        height: 1526px;
    }
    .dish-panel{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .dish-content{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .dish-content-bio{
        align-items: center;
        flex-direction: column;
    }
    .dishes-wrapper{
        width: 98% !important;
        height: auto;
    }
    .dishes-bordered{
        padding-top: 60px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .special-section-heading-title
    {
        font-size: 33px;
    }
    .dish-dec{
        text-align: center;
    }
    .menuBoard-heading-title{
        font-size: 35px ;
    }
    .menu-dish-content{
        max-width: 390px;
    }
    .menu-board > div{
        display: flex;
        justify-content: center;
    }
    .title{
        font-size: 39px;
    }
    footer .sosial-media a{
        height: 42px;
        width: 42px;
       }


       .heading-dec{
        padding: 0 0px;
    }

    .testimonial-body{
        font-size: 35px;
    }
    
    

    
}
@media screen and (max-width:576px){
    .fixed-nav{
        width: 92%;
    }
    .title-heading{
        text-align: center;
    }
    .aphorism p{
        font-size: 30px;
    }

    .dishes-bordered{
        padding: 10px;
    }
    .md-carousel{
        display: none !important;
    }
    .mobile-carousel-2{
        display: flex !important;
    }
    .heading-title{
        text-align: center;
    }
    .special-section-heading{
        text-align: center;
    }
    .dish-content{
        padding-left: 0px;
    }
    .manuBoard-heading {
        text-align: center;
    }
    .slide-headline{
        text-align: center;
        line-height: 48px;
    }
    .title{
        text-align: center;
    }
    
    
    
}